html *
{
	background: white ! important;
	color: black ! important;
	text-decoration: none ! important;
}

#header,
#content
{
	padding: 0px;
	border: none;
}

#navigation,
#menu,
#listing-filters,
.checkbox,
ul.checkbox-action-links,
#header-item_id_instance_no,
.item_id_instance_no,
.alphalist,
ul.listingControls,
.listingPager,
.tabMenu,
ul.sitepluginLinks,
ul.footer-links,
.norating,
th#header-item_id_instance_no,
td.checkbox,
th#header-s_item_type,
td.item_type_image,
th#header-coverimage,
td.coverimage,
ul#tab-menu.tabMenu,
ul.coverimages,
img.s_item_type
{
	display: none;
}

div#poweredBy,
div#poweredBy *
{
	color: #666 ! important;
}

div#details.tabContent
{
	margin-top: 0;
}

table
{
	border-spacing: 5;
}

table.listing-table th
{
	border-bottom: 5px solid #666;
	padding-bottom: 5px;
}

th.prompt 
{
	border-right: 5px solid #666;
	font-size: 10pt;
	padding: 5px;
}

td.data
{
	font-size: 10pt;
	padding: 5px;
}

ul.coverimages
{
	margin-top: -65px ! important;
}

ul.ticks
{
	list-style-type: disc;
	margin-left: 17px;
}

ul.ticks li
{
	margin: 0;
	padding: 0;
}

p.pageListingIndex,
p.listingDate
{
	color: #666 ! important;
}

ul.help
{
	margin-top: 20px;
}

ul.help li
{
	color: #666 ! important;
}

#footer *
{
	color: #ccc ! important;
}